@{
    ViewData["Title"] = "Login Page";
}


<body>

    <div class="login-container">
        <h2>Login</h2>

        <form action="/login" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>

        <a class="register-link" href="register.html">Don't have an account? Register here</a>
    </div>

</body>
</html>